<script setup>
const props = defineProps({
  title: String,
  description: String,
  link: String,
  external: Boolean,
  badge: String,
  icon: String,
  isFlexGrow: {
    type: Boolean,
    default: true
  },
  textAlign: {
    type: String,
    default: 'left'
  }
})

const handleCardClick = () => {
  if (props.external && props.link) {
    window.open(props.link, '_blank', 'noopener noreferrer')
  } else if (props.link) {
    window.location.href = props.link
  }
}
</script>

<template>
  <UCard
    class="cursor-pointer glassmorphism-background w-full relative rounded-2xl text-base-content p-6 flex flex-col"
    :class="{
      'flex-grow': isFlexGrow,
      'text-left': textAlign === 'left',
      'text-right': textAlign === 'right',
      'text-center': textAlign === 'center',
      'text-justify': textAlign === 'justify'
    }"
    :ui="{
      background: '',
      ring: 'ring-0',
      body: {
        padding: 'px-0 py-0 sm:p-0'
      },
      header: {
        padding: 'px-0 py-2 sm:px-0'
      },
      footer: {
        padding: 'px-0 py-2 sm:px-0'
      }
    }"
    @click="handleCardClick"
  >
    <template #header>
      <div v-if="badge" class="mb-4" :class="{
            'flex justify-start': textAlign === 'left' || textAlign === 'start',
            'flex justify-center': textAlign === 'center',
            'flex justify-end': textAlign === 'right',
            'flex justify-between': textAlign === 'justify'
          }">
        <UBadge
          color="blue"
          size="lg"
        >
          {{ badge }}
        </UBadge>
      </div>
      <div class="flex items-center">
        <UIcon v-if="icon" :name="icon" class="w-8 h-8 mr-2"/>
        <h3 class="text-2xl font-bold leading-snug">{{ title }}</h3>
      </div>
    </template>

    <template #footer v-if="description">
      <div
        class="inline-flex flex-col flex-grow"
        :class="{
           'lg:text-start': textAlign === 'start',
           'text-left': textAlign === 'left',
           'text-right': textAlign === 'right',
           'text-center': textAlign === 'center',
           'text-justify': textAlign === 'justify'
         }"
      >
        <p class="text-lg mt-4">{{ description }}</p>
        <div class="flex-grow"></div>
      </div>
    </template>
  </UCard>
</template>

<style scoped>
</style>
