<script setup>
import {onBeforeUnmount, onMounted, ref} from 'vue'

const atTop = ref(false)
const sideDrawerOpen = ref(false)
const onWindowScroll = () => {
  atTop.value = window.pageYOffset < 30
}

onMounted(() => {
  window.addEventListener('scroll', onWindowScroll)
  onWindowScroll();
})

onBeforeUnmount(() => {
  window.removeEventListener('scroll', onWindowScroll)
})

const links = [
  {
    label: "What is this?",
    to: '#faq'
  },
  {
    label: "Stats",
    to: '#stats'
  }
]

const closeSideDrawer = () => {
  sideDrawerOpen.value = false
}


const nonce = useNonce()

</script>

<template>
  <div class="bg-opacity-95 backdrop-blur-md">
    <div
      class="pl-6 pr-6 flex items-center border-base-content/10 bg-gray-800/5 transition-colors duration-300 rounded-b-2xl"
    >
      <div class="mt-4 mb-4 flex-auto flex items-center">
        <UButton
          :ui="{
            color: {
              white: {
                ghost: 'ring-0 text-white hover:bg-gray-800/75'
              }
            }
          }"
          class="lg:hidden"
          color="white"
          variant="ghost"
          @click="sideDrawerOpen = true"
        >
          <UIcon class="h-8 w-8" name="i-heroicons-bars-3"/>
        </UButton>
        <ULink
          class="flex lg:flex sm:flex xs:flex md:ml-4"
          to="/"
        >
          <img :nonce="nonce" alt="nexa" class="h-12" src="/logos/nexa/nexa-logo-mark-text-white.svg"/>
        </ULink>
      </div>
      <div class="flex-none hidden lg:flex items-center">
        <UButton
            v-for="link in links"
            :to="link.to"
            :ui="{
              icon: {
                base: 'text-black dark:text-white'
              },
              color: {
                white: {
                  ghost: 'text-black dark:text-white hover:bg-gray-500/20'
                }
              }
            }"
            color="white"
            size="xl"
            trailing
            variant="ghost"
        >
          {{  link.label }}
        </UButton>
      </div>
    </div>

    <USlideover
      :ui="{
        background: 'bg-black dark:bg-black'
      }"
      v-model="sideDrawerOpen"
      side="left"
    >
      <div class="flex-1">
        <UCard
          :ui="{
          background: 'bg-black dark:bg-black',
          body: {
            base: 'flex-1'
          },
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800'
        }"
          class="flex flex-col flex-1"
        >
          <template #header>
            <ULink to="/" >
              <img alt="nexa" class="h-12" src="/logos/nexa/nexa-logo-mark-text-white.svg"/>
            </ULink>
          </template>
          <ul>
            <li v-for="(link, index) in links" :key="index">
              <UButton
                  @click="closeSideDrawer"
                  :to="link.to"
                  :ui="{
                      rounded: 'rounded-none',
                      padding: {
                        sm: 'p-3'
                      }
                    }"
                  class="text-xl w-full rounded-lg"
                  color="black"
                  variant="ghost"
              >
                <span class="truncate">{{ link.label }}</span>
              </UButton>
            </li>
          </ul>
        </UCard>
      </div>
    </USlideover>
  </div>
</template>

<style scoped>

</style>
