<script setup>
import {computed, ref} from "vue"
import {DateTime} from "luxon"

const props = defineProps({
  stats: {
    type: Number,
    default: 0
  }
})

const totalBlocks = ref(props.stats)

const calculateBlocksTillHalving = (n) => {
  const blocks_per_halving = 1050000;
  if (n > (blocks_per_halving * 64)) {
    return null;
  }
  return blocks_per_halving - (n % blocks_per_halving);
}

const calculateDateTimeOfHalving = (n) => {
  const blocksTillHalving = calculateBlocksTillHalving(n);
  if (blocksTillHalving === null || blocksTillHalving === 0) {
    return null; // No more halvings or already halved
  }

  const minutesPerBlock = 2; // Assuming each block takes 2 minutes
  const totalMinutesTillHalving = blocksTillHalving * minutesPerBlock;

  // Convert total minutes to hours, minutes, and seconds
  const hoursTillHalving = Math.floor(totalMinutesTillHalving / 60);
  const remainingMinutes = totalMinutesTillHalving % 60;
  const secondsTillHalving = 0; // Assuming no partial seconds for blocks

  // Get the current date and time using Luxon
  const currentDate = DateTime.now();

  // Calculate the halving date by adding hours, minutes, and seconds to the current date
  const nextHalvingDate = currentDate.plus({
    hours: hoursTillHalving,
    minutes: remainingMinutes,
    seconds: secondsTillHalving
  });

  // Return the next halving date in ISO format
  return nextHalvingDate.toISO();
}

const halvingDate = computed(() => {
  console.log(totalBlocks)
  if (totalBlocks.value > 0) {
    return calculateDateTimeOfHalving(totalBlocks.value)
  }
  return null
})

const gradients = [
  {
    position: 'center',
    size: '2xl',
    colorStops: ['from-yellow-300/20', 'to-orange-800/10'],
    roundedness: 'full',
    zIndex: 1
  }
]

</script>

<template>
  <ContentSection
      section-id="countdown-main-hero"
      alignment="text-center"
      :gradients="gradients"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #center>
      <div class="relative flex flex-col items-center w-full">
        <AnimatedText
            text="Block Reward Halving"
            gradient-text=" Countdown"
            gradient-classes="p-0.5 bg-clip-text text-transparent bg-gradient-to-r from-green-300 to-blue-400"
            header-tag="h1"
        />
        <div v-if="halvingDate" class="w-full">
          <DateCountdown :target-date="halvingDate"/>
          <h1 class="text-xl text-center font-light tracking-tighter lg:text-xl lg:leading-none mt-16">
            <span class="font-bold">ETA: </span> {{
              DateTime.fromISO(halvingDate).toLocaleString(DateTime.DATETIME_MED)
            }}
          </h1>
        </div>
        <div v-else class="inset-0 flex justify-center items-center mt-16">
          <span v-if="!halvingDate">Halving date could not be fetched</span>
          <span v-else class="loading loading-spinner loading-lg"></span>
        </div>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>