<script setup>
import coinGeckoLogoDark from "/logos/third-parties/coingecko-dark.svg"

const props = defineProps({
  stats: {
    type: Array,
    default: () => []
  }
})

const nonce = useNonce()
</script>

<template>
  <ContentSection
      section-id="stats"
      alignment="text-center"
      layout="custom"
      :sections="[
        { name: 'center', columns: 8 }
      ]"
  >
    <template #above>
      <div class="text-center">
        <h2 class="sub-header">
          <span class="p-0.5 bg-clip-text text-transparent bg-gradient-to-r from-green-300 to-blue-400">Stats</span>
        </h2>
      </div>
    </template>
    <template #center>
      <div class="mt-4 flex justify-center items-center">
        <h3 class="text-md font-semibold text-base-content">Powered by</h3>
        <a href="https://www.coingecko.com/" target="_blank">
          <img :src="coinGeckoLogoDark" alt="CoinGecko Logo" class="h-8 ml-2" :nonce="nonce"/>
        </a>
      </div>
      <div class="w-full flex justify-center">
        <StatsGrid :stats="stats"/>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>

</style>