<script>
export default {
  name: 'ArticleGridItem',
  props: {
    article: {
      type: Object,
      required: true
    },
    containerType: {
      type: String,
      default: 'sm'
    }
  }
}
</script>

<template>
  <div class="relative rounded-2xl glassmorphism-background backdrop-blur-lg text-base-content flex flex-col h-full">
    <div v-if="containerType === 'sm'" class="flex flex-col h-full">
      <div>
        <img :src="article.cover" alt="news article" class="w-full h-48 object-cover rounded-t-xl" />
      </div>
      <div class="flex flex-col justify-between flex-grow text-left p-4">
        <div>
          <p>{{ new Date(article.metadata.date).toLocaleDateString() }}</p>
          <h1 class="text-xl font-semibold mb-4">
            <NuxtLink
                :to="`/${article.path}`"
                class="text-current hover:text-yellow-300 cursor-pointer"
            >
              {{ article.metadata.title }}
            </NuxtLink>
          </h1>
          <p class="mt-4">{{ article.metadata.body }}</p>
        </div>
        <div class="mt-4 flex flex-wrap justify-start">
          <div v-for="tag in article.metadata.tags" :key="tag" class="m-2">
            <UBadge
              variant="solid"
              size="lg"
              color="purple"
              :label="tag"
              :ui="{
                color: {
                  purple: {
                    solid: 'text-white bg-purple-600'
                  }
                }
              }"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="containerType === 'lg'" class="grid grid-cols-3 flex-grow">
      <div class="col-span-2 p-6 flex flex-col justify-between text-left">
        <div>
          <p>{{ new Date(article.metadata.date).toLocaleDateString() }}</p>
          <h1 class="text-xl font-semibold mb-4">
            <NuxtLink
                :to="`/${article.path}`"
                class="text-current hover:text-yellow-300 cursor-pointer"
            >
              {{ article.metadata.title }}
            </NuxtLink>
          </h1>
          <p class="mt-4">{{ article.metadata.body }}</p>
        </div>
        <div class="mt-4 flex flex-wrap justify-start">
          <div v-for="tag in article.metadata.tags" :key="tag" class="m-2">
            <UBadge
              variant="solid"
              size="lg"
              color="purple"
              :label="tag"
              :ui="{
                color: {
                  purple: {
                    solid: 'text-white bg-purple-600'
                  }
                }
              }"
            />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center p-2">
        <img :src="article.cover" alt="news article" class="w-full h-48 object-cover rounded-lg"/>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
