<script setup>
import {ref, onMounted, onBeforeUnmount} from 'vue'
import {DateTime} from 'luxon'

// Define props for target date
const props = defineProps({
  targetDate: {type: String, required: true}
})

// Define reactive variables for countdown
const totalSeconds = ref(0)
const days = ref(0)
const hours = ref(0)
const minutes = ref(0)
const seconds = ref(0)

// Function to calculate countdown
const calculateCountdown = () => {
  const targetDate = DateTime.fromISO(props.targetDate, {zone: 'utc'})
  const now = DateTime.now().setZone(DateTime.local().zoneName)
  totalSeconds.value = Math.floor(targetDate.diff(now, 'seconds').seconds)

  days.value = Math.floor(totalSeconds.value / (60 * 60 * 24))
  hours.value = Math.floor((totalSeconds.value % (60 * 60 * 24)) / (60 * 60))
  minutes.value = Math.floor((totalSeconds.value % (60 * 60)) / 60)
  seconds.value = totalSeconds.value % 60
}

// Update countdown every second
let intervalId

onMounted(() => {
  calculateCountdown(); // Call initially to avoid initial delay
  intervalId = setInterval(calculateCountdown, 1000);
})

// Clear interval on component destroy
onBeforeUnmount(() => {
  clearInterval(intervalId)
})
</script>

<template>
  <div class="flex flex-col items-center mt-6 lg:mt-16">
    <div class="flex text-center" style="width: 100%;">
      <!-- Days -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono">
          {{ days }}
        </span>
        <span class="text-sm">Days</span>
      </div>
      <!-- Hours -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono">
          {{ hours }}
        </span>
        <span class="text-sm">Hours</span>
      </div>
      <!-- Minutes -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono">
          {{ minutes }}
        </span>
        <span class="text-sm">Minutes</span>
      </div>
      <!-- Seconds -->
      <div class="flex flex-col items-center" style="flex: 1;">
        <span class="text-5xl sm:text-8xl font-mono">
          {{ seconds }}
        </span>
        <span class="text-sm">Seconds</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>
