<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
    <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 470.22 135.04" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
      <g id="Layer_1-2" data-name="Layer 1">
        <g>
          <path class="cls-2" d="M15.27,15.27v14.61h1.61c30.59,0,61.18,0,91.77,0,1.92,0,3.69.37,5.29,1.53,3.81,2.74,4.17,8.78.6,11.83-1.53,1.31-3.24,1.97-5.23,1.97-35.93,0-71.86,0-107.79,0H0V.18C.23.13.49.04.75.02c.41-.03.82,0,1.22,0,36.14,0,72.27,0,108.41,0,4.57,0,8.98.89,13.23,2.56,4.29,1.69,8.14,4.07,11.52,7.2,3.83,3.55,6.9,7.63,9.04,12.43,2,4.49,3.02,9.17,3.28,14.05.21,3.94-.31,7.81-1.37,11.58-1.68,5.92-4.64,11.17-8.97,15.59-1.42,1.45-2.94,2.8-4.44,4.23.75.63,1.56,1.29,2.34,1.98,3.28,2.92,6.03,6.27,8.09,10.17,1.95,3.7,3.27,7.6,3.9,11.75.5,3.32.64,6.63.26,9.96-.53,4.66-1.84,9.09-3.99,13.24-2.45,4.71-5.81,8.72-9.96,12.05-5.57,4.47-11.96,7.01-19,7.98-1.37.19-2.76.25-4.14.25-36.26.01-72.52.01-108.77.01H0V59.86h45.07c.11,2.51.03,4.98.05,7.44.01,2.48,0,4.97,0,7.45v14.92c.54.02,1.01.05,1.48.05,13.13,0,26.27,0,39.4,0,7.75,0,15.5,0,23.25,0,3.19,0,5.61,1.43,6.98,4.29,2.42,5.06-.87,10.45-6.07,10.99-.44.05-.9.05-1.34.05-25.78,0-51.55,0-77.33,0-.44,0-.89,0-1.47,0-.1-3.37-.03-6.65-.04-9.93-.01-3.34,0-6.68,0-10.02v-9.94h-14.68v44.51c.42.01.85.04,1.29.04,7.18,0,14.36,0,21.53,0,24.06,0,48.13,0,72.19,0,3.88,0,7.47-1.03,10.82-2.96,4.56-2.62,7.72-6.45,9.6-11.3,2.19-5.66,2.02-11.36-.42-16.87-2.61-5.88-6.99-9.99-13.13-12.2-2.14-.77-4.33-1.11-6.58-1.12-16.4,0-32.79,0-49.19,0h-1.51v-15.25c.52-.03,1.03-.07,1.54-.07,16.07,0,32.14,0,48.21,0,5.11,0,9.73-1.55,13.77-4.61,5.12-3.88,8-9.1,8.66-15.5.52-4.99-.49-9.7-3.13-13.91-4.25-6.79-10.45-10.42-18.54-10.64-.53-.01-1.06,0-1.59,0-30.63,0-61.26,0-91.89,0h-1.64Z"/>
          <g>
            <path class="cls-1" d="M200.16,23.07h26.41c6.27,18.45,12.56,36.95,18.85,55.45.09,0,.18,0,.27,0,6.36-18.46,12.72-36.92,19.1-55.43h26.42c2.44,29.6,4.87,59.17,7.31,88.84h-18.44c-1.93-22.13-3.86-44.21-5.79-66.3-.09-.02-.17-.03-.26-.05-7.44,22.11-14.88,44.21-22.34,66.36h-12.02c-7.48-22.07-14.87-44.21-22.35-66.33-.09.02-.18.04-.26.05-1.95,22.07-3.9,44.15-5.85,66.27h-18.5c2.48-29.64,4.96-59.21,7.45-88.88Z"/>
            <path class="cls-1" d="M469.31,23.07c-11.32,14.28-22.48,28.37-33.73,42.55,11.53,15.42,23.02,30.79,34.64,46.33h-23.55c-7.3-10.36-14.65-20.8-22.07-31.34-.64.89-1.21,1.66-1.75,2.44-3.78,5.37-7.56,10.75-11.33,16.12-2.74,3.91-5.49,7.81-8.22,11.73-.53.76-1.1,1.16-2.14,1.15-6.89-.06-13.79-.03-20.68-.03h-1.55c11.66-15.59,23.16-30.97,34.7-46.38-11.21-14.16-22.36-28.23-33.52-42.33.94-.37,16.25-.51,22.32-.23,7.31,9.62,14.68,19.3,22.18,29.16,7.45-9.79,14.81-19.46,22.19-29.17h22.52Z"/>
            <path class="cls-1" d="M336.59,39.28v20.19h29.18v16.12h-29.17v20.09h32.93v16.14c-.96.3-46.99.44-51.38.15-.34-1.07-.5-82.14-.19-88.73.9-.25,49.77-.33,51.6-.07v16.12h-32.97Z"/>
            <path class="cls-1" d="M154.97,23.08h18.39v88.86h-18.39V23.08Z"/>
          </g>
        </g>
      </g>
    </svg>
</template>

<style scoped>

</style>