<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg width="512" height="155" viewBox="0 0 512 155" fill="none" xmlns="http://www.w3.org/2000/svg" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g clip-path="url(#clip0_3037_70295)">
      <path d="M200.682 74.9284C204.533 72.7411 207.619 70.0177 209.865 66.8064C212.425 63.1502 213.725 58.974 213.725 54.4011C213.725 45.8396 210.524 39.1571 204.217 34.5359C197.985 29.9683 189.41 27.655 178.723 27.655H140.078V126.826H180.267C191.522 126.826 200.534 124.209 207.05 119.044C213.618 113.836 216.952 106.542 216.952 97.3615C216.952 91.7726 215.384 86.9638 212.296 83.0717C209.525 79.5924 205.624 76.8556 200.684 74.9284H200.682ZM160.991 45.5286H177.042C182.076 45.5286 185.877 46.5043 188.346 48.4236C190.785 50.3187 191.97 52.8089 191.97 56.0335C191.97 59.2581 190.785 61.8743 188.346 63.7775C185.877 65.6967 182.076 66.6724 177.042 66.6724H160.991V45.5286ZM191.209 105.591C188.426 107.821 184.178 108.949 178.584 108.949H160.991V84.68H178.584C184.175 84.68 188.429 85.771 191.222 87.9127C193.991 90.0491 195.337 92.8689 195.337 96.5439C195.337 100.409 193.986 103.368 191.209 105.593V105.591Z"/>
      <path d="M245.205 52.6685H224.152V126.822H245.205V52.6685Z" />
      <path d="M453.137 63.8202C449.805 59.8531 445.629 56.7437 440.724 54.5751C435.824 52.4093 430.313 51.3049 424.351 51.3049C417.044 51.3049 410.453 52.9642 404.754 56.2344C399.042 59.5153 394.509 64.0722 391.277 69.787C388.044 75.4965 386.406 82.1227 386.406 89.4753C386.406 96.8279 387.996 103.891 391.129 109.689C394.271 115.506 398.787 120.068 404.551 123.26C410.303 126.434 417.06 128.045 424.633 128.045C433.929 128.045 441.82 125.708 448.093 121.094C454.134 116.656 458.289 110.394 460.552 102.556H439.357C438.242 105.223 436.671 107.494 434.422 109.094C431.763 110.981 428.329 111.938 424.212 111.938C420.642 111.938 417.583 111.069 415.12 109.359C412.646 107.649 410.756 105.121 409.515 101.838C408.77 99.8864 408.242 97.6428 407.931 95.1472H460.922L461.026 94.4878C461.972 88.5076 461.734 82.841 460.308 77.6462C458.879 72.438 456.467 67.7873 453.137 63.8202ZM408.266 81.4177C408.59 79.9086 409.027 78.3378 409.582 76.9064C410.874 73.5799 412.739 71.02 415.13 69.3099C417.511 67.5997 420.473 66.7366 423.936 66.7366C428.276 66.7366 431.838 68.1438 434.524 70.9128C437.07 73.5477 438.515 77.1476 438.823 81.4177H408.268H408.266Z"/>
      <path d="M245.635 27.6521H223.703V45.5257H245.635V27.6521Z"/>
      <path d="M360.93 61.0807C358.44 58.0893 355.521 55.7706 352.229 54.1677C348.3 52.2672 343.702 51.3049 338.564 51.3049C332.273 51.3049 326.633 52.8569 321.808 55.9127C316.989 58.9658 313.166 63.2814 310.451 68.7309C307.746 74.1669 306.371 80.5492 306.371 87.7088C306.371 94.8684 307.816 100.875 310.668 106.349C313.525 111.841 317.487 116.216 322.441 119.358C327.405 122.507 333.066 124.105 339.269 124.105C343.952 124.105 348.23 123.091 351.977 121.089C354.944 119.505 357.429 117.409 359.389 114.849V122.923C359.389 127.927 358.073 131.768 355.486 134.328C352.891 136.888 348.946 138.18 343.756 138.18C339.285 138.18 335.768 137.167 333.307 135.164C331.294 133.527 329.536 131.377 329.126 126.825H308.829C309.017 133.194 310.888 137.486 313.528 141.246C316.49 145.46 320.656 148.755 325.92 151.03C331.134 153.279 337.183 154.421 343.898 154.421C355.17 154.421 364.144 151.588 370.564 146.007C377.024 140.394 380.299 132.535 380.299 122.652V52.6666H360.93V61.0807ZM357.223 97.5597C355.888 100.315 354.004 102.476 351.615 103.971C349.23 105.467 346.351 106.228 343.054 106.228C338.288 106.228 334.583 104.607 331.721 101.267C328.869 97.9457 327.424 93.3835 327.424 87.7062C327.424 82.0289 328.869 77.4666 331.721 74.1401C334.546 70.8458 338.36 69.1785 343.054 69.1785C347.747 69.1785 351.894 70.8699 354.81 74.2152C357.754 77.5873 359.247 82.1736 359.247 87.8375C359.247 91.5071 358.566 94.7746 357.223 97.557V97.5597Z"/>
      <path d="M512.002 70.4034V52.6692H496.806V27.6521H475.893V52.6692H462.914V70.4034H475.893V99.4333C475.893 115.573 479.072 127.434 498.889 127.067L511.329 126.823V110.195H505.156C496.348 110.195 496.839 105.06 496.839 95.5224L496.804 70.4034H511.999H512.002Z"/>
      <path d="M301.256 70.4034V52.6692H286.06V27.6521H265.147V52.6692H252.168V70.4034H265.147V99.4333C265.147 115.573 268.326 127.434 288.143 127.067L300.583 126.823V110.195H294.41C285.602 110.195 286.092 105.06 286.092 95.5224L286.058 70.4034H301.253H301.256Z"/>
      <path d="M52.4882 45.5261H84.0671L116.373 77.6251C118.474 79.7132 118.485 83.1094 116.394 85.2083L74.9642 126.847H42.4336L52.2684 117.286L88.3774 81.4046L52.7267 45.5234"/>
      <path d="M65.4673 81.325H33.8883L1.58286 49.226C-0.518654 47.1378 -0.529376 43.7416 1.56142 41.6428L42.9912 0.0012207H75.5218L65.6871 9.56257L29.578 45.4438L65.2287 81.325"/>
    </g>
    <defs>
      <clipPath id="clip0_3037_70295">
        <rect width="512" height="154.416"/>
      </clipPath>
    </defs>
  </svg>
</template>

<style scoped>

</style>