<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>


<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403.97 84.9" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <g>
          <g id="_编组" data-name="编组">
            <path id="Fill-77" class="cls-1" d="M62.1,6.89C56.51,2.28,48.85,0,39.08,0H14.76v3.42h23.88c8.31,0,15.8,1.68,20.41,5.7s8.03,9.88,8.03,17.15-3.04,12.21-7.76,16.18-13.3,5.7-21.82,5.7H10.1v3.42h27.63c10.26,0,18.29-2.23,24.1-6.68,5.75-4.45,8.69-10.75,8.69-18.84s-2.82-14.6-8.41-19.16"/>
            <path id="Fill-79" class="cls-1" d="M60.04,11.78c-3.47-2.66-7.44-4.78-18.73-4.78h-18.78v3.31s8.41-.11,18.35,0c9.61.11,13.14,1.19,16.39,3.58,4.13,3.04,6.73,6.84,6.73,12.1s-2.61,8.69-6.79,11.78c-4.23,3.15-10.75,3.15-13.41,3.26h-13.95v3.31s6.41.11,10.42,0c9.12-.22,14.55-.76,19.6-4.51,4.72-3.53,7.22-8.14,7.22-14,0-7.71-3.91-11.56-7.06-14.06"/>
            <path id="Fill-80" class="cls-1" d="M58.35,16.18c-2.61-1.63-4.89-2.71-15.69-2.71h-13.52v2.17h13.14c9.55,0,13.14,1.68,14.28,2.39,2.17,1.3,4.99,3.47,4.99,7.82,0,2.77-1.63,6.3-4.07,7.65-2.23,1.25-6.3,2.39-13.41,2.39H0v2.17h44.19c8.63,0,11.56-.98,14.6-2.66s5.1-5.16,5.1-9.55c0-4.99-2.77-7.93-5.54-9.66"/>
          </g>
          <path id="Fill-81" class="cls-1" d="M66.93,40.22c-5.59-4.61-13.24-6.89-23.02-6.89h-16.28v3.42h15.8c8.31,0,15.8,1.74,20.41,5.7s8.09,9.88,8.09,17.15-2.99,12.21-7.76,16.18-13.3,5.7-21.82,5.7H14.93v3.42h27.63c10.26,0,18.29-2.23,24.1-6.68s8.69-10.75,8.69-18.84c-.05-8.2-2.82-14.55-8.41-19.16"/>
          <path id="Fill-82" class="cls-1" d="M64.87,45.11c-3.47-2.61-7.44-4.78-18.73-4.78h-25.51v3.31s15.14-.11,25.08,0c9.61.11,13.14,1.19,16.39,3.58,4.13,3.04,6.73,6.84,6.73,12.1s-2.61,8.69-6.79,11.78c-4.23,3.15-10.75,3.15-13.41,3.26h-13.95v3.31s6.46.11,10.42,0c9.12-.22,14.55-.76,19.6-4.51,4.72-3.53,7.22-8.14,7.22-14,0-7.65-3.85-11.56-7.06-14.06"/>
          <polygon id="Fill-83" class="cls-1" points="26.06 56.4 49.99 56.4 49.99 54.55 26.06 54.55 26.06 56.4"/>
          <polygon id="Fill-84" class="cls-1" points="35.93 62.86 49.83 62.86 49.83 61.28 35.93 61.28 35.93 62.86"/>
          <polygon id="Fill-85" class="cls-1" points="14.93 56.4 21.98 56.4 21.98 54.55 14.93 54.55 14.93 56.4"/>
          <polygon id="Fill-86" class="cls-1" points="10.48 62.97 32.03 62.97 32.03 61.12 10.48 61.12 10.48 62.97"/>
          <polygon id="Fill-87" class="cls-1" points="15.8 15.47 24.21 15.47 24.21 13.95 15.8 13.95 15.8 15.47"/>
          <polygon id="Fill-88" class="cls-1" points="9.99 27.85 29.15 27.85 29.15 26.11 9.99 26.11 9.99 27.85"/>
          <polygon id="Fill-89" class="cls-1" points="10.48 77.46 30.72 77.46 30.72 75.29 10.48 75.29 10.48 77.46"/>
          <polygon id="Fill-90" class="cls-1" points="5.48 84.68 10.53 84.68 10.53 81.48 5.48 81.48 5.48 84.68"/>
          <polygon id="Fill-91" class="cls-1" points="18.08 22.42 49.88 22.42 49.88 20.68 18.08 20.68 18.08 22.42"/>
          <polygon id="Fill-92" class="cls-1" points="33.98 27.85 49.29 27.85 49.29 26.11 33.98 26.11 33.98 27.85"/>
          <path id="Fill-93" class="cls-1" d="M63.18,49.83c-2.61-1.57-4.89-2.66-15.69-2.66h-17.15v2.12h16.83c9.55,0,13.19,1.63,14.28,2.28,2.12,1.25,4.99,3.31,4.99,7.55,0,2.71-1.63,6.08-4.07,7.38-2.23,1.19-6.3,2.28-13.41,2.28H4.83v2.12h44.19c8.63,0,11.56-.92,14.6-2.55s5.05-4.94,5.05-9.23c.05-4.72-2.71-7.55-5.48-9.28"/>
        </g>
        <g>
          <path id="Fill-94" class="cls-1" d="M106.06,47.38v22.19h12.12c5.22,0,9.32-.99,12.18-2.98,2.8-1.8,4.41-4.91,4.35-8.27,0-7.27-6.15-10.94-18.4-10.94h-10.26ZM106.06,20.97v19.89h9.14c4.91,0,8.7-.93,11.5-2.86,2.73-1.74,4.35-4.85,4.23-8.08,0-5.97-4.85-9.01-14.61-9.01l-10.26.06ZM97.11,76.1V14.44h21.69c6.59,0,11.81,1.31,15.66,3.92s5.78,6.03,5.78,10.19c.06,3.36-1.18,6.65-3.48,9.14-2.36,2.61-5.53,4.41-9.63,5.53v.19c5.16.5,9.26,2.05,12.31,4.72,3.05,2.55,4.72,6.34,4.6,10.32,0,5.28-2.36,9.51-7.02,12.8-4.66,3.29-10.57,4.91-17.71,4.91h-22.19v-.06Z"/>
          <path id="Fill-95" class="cls-1" d="M153.98,76.1h8.7v-44.01h-8.7v44.01ZM158.4,20.84c-1.43.06-2.86-.44-3.98-1.31-1.06-.75-1.68-1.99-1.62-3.23,0-1.31.62-2.55,1.62-3.29,1.12-.87,2.55-1.37,3.98-1.31,1.49-.06,2.92.44,4.04,1.31,1.8,1.31,2.18,3.79.93,5.59-.25.37-.56.68-.93.93-1.12.93-2.55,1.37-4.04,1.31h0Z"/>
          <path id="Fill-96" class="cls-1" d="M201.16,75.66c-2.05.93-4.79,1.37-8.14,1.37-9.51,0-14.3-4.29-14.3-12.93v-26.04h-9.32v-6.03h9.32v-10.75l8.7-2.3v13.05h13.67v6.03h-13.67v24.8c0,2.92.62,5.03,1.86,6.34s3.29,1.86,6.15,1.86c1.99.06,3.98-.44,5.66-1.49l.06,6.09"/>
          <path id="Fill-97" class="cls-1" d="M280.28,76.1h-8.14v-38.04c.06-3.67.25-7.4.68-11.06h-.19c-.5,1.86-1.24,3.73-2.11,5.47l-23.93,43.57h-4.04l-23.87-43.26c-.93-1.86-1.62-3.79-2.11-5.84h-.19c.31,3.67.44,7.4.37,11.13v37.98h-7.89V19.35h10.88l21.51,39.53c1.24,2.18,2.36,4.48,3.23,6.84h.31c1.43-3.11,2.55-5.41,3.36-6.96l21.94-39.41h10.26v56.75"/>
          <path id="Fill-98" class="cls-1" d="M324.54,53.78l-13.11,1.49c-4.04.44-7.09,1.24-9.14,2.42s-3.11,3.23-3.11,6.15c0,2.11,1.06,4.1,2.86,5.28,1.86,1.37,4.41,2.05,7.58,2.05,4.35,0,7.89-1.24,10.69-3.67,2.73-2.3,4.29-5.72,4.23-9.32v-4.41ZM333.24,76.1h-8.7v-6.9h-.19c-3.79,5.28-9.39,7.89-16.72,7.89-5.41,0-9.63-1.18-12.74-3.48-2.98-2.11-4.66-5.59-4.6-9.26,0-8.2,5.97-12.99,17.96-14.36l16.28-1.86c0-7.46-3.73-11.19-11.19-11.19-6.34-.06-12.49,1.8-17.71,5.41v-7.21c5.35-2.73,11.5-4.1,18.46-4.1,12.8,0,19.14,5.47,19.14,16.41v28.65h0Z"/>
          <path id="Fill-99" class="cls-1" d="M373.64,39.18c-1.55-.93-3.73-1.43-6.59-1.43-3.6-.06-7.02,1.49-9.32,4.29-2.49,2.86-3.73,6.71-3.73,11.62v22.44h-8.7v-44.01h8.7v9.07h.19c1.12-2.92,3.11-5.47,5.72-7.27,2.49-1.74,5.47-2.61,8.58-2.61,1.74-.06,3.54.12,5.22.62l-.06,7.27"/>
          <path id="Fill-100" class="cls-1" d="M403.97,75.66c-2.05.93-4.79,1.37-8.14,1.37-9.51,0-14.3-4.29-14.3-12.93v-26.04h-9.32v-6.03h9.32v-10.75l8.7-2.3v13.05h13.67v6.03h-13.67v24.8c0,2.92.62,5.03,1.86,6.34s3.29,1.86,6.15,1.86c1.99.06,3.98-.44,5.66-1.49l.06,6.09"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>