<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 470.84 82.98" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path class="cls-1" d="M63,.74c-.95-.17-1.92-.32-2.91-.43h-.08c-1.07-.07-2.15-.11-3.25-.11-.43,0-.88,0-1.31.02h-.07c-.33-.02-.65-.02-.99-.02-1.46,0-2.91.07-4.34.21-.3-.05-.61-.1-.93-.12-1.58-.19-3.21-.27-4.85-.28h-.35c-2.14,0-4.27.15-6.36.44C16.14,3.36,0,21.01,0,41.48s16.14,38.12,37.56,41.05c2.09.3,4.23.44,6.36.44h.38c1.63,0,3.25-.1,4.83-.28.33-.04.67-.07.99-.12,1.41.15,2.85.21,4.28.21.42,0,.86,0,1.28-.02.35.02.72.02,1.07.02,1.14,0,2.26-.04,3.37-.12h.09c.97-.11,1.91-.26,2.85-.43,20.19-3.73,35.5-20.57,35.5-40.73S83.23,4.44,63,.74ZM51.34.52s-.09.04-.16.05c-.03,0-.07-.02-.09-.02.09,0,.16-.02.25-.04h0ZM3.25,41.48C3.25,22.89,17.64,6.81,36.89,3.65c-15.42,6.37-26.2,20.91-26.2,37.83s10.77,31.46,26.2,37.83C17.64,76.14,3.25,60.07,3.25,41.48ZM35.91,41.46c0-14.52,5.89-27.32,14.8-34.66,5.5,2.47,10.34,6.1,14.22,10.7,5.84,6.86,8.92,15.15,8.92,23.99,0,10.56-4.44,20.4-12.5,27.7-3.13,2.85-6.73,5.19-10.63,6.95-8.91-7.35-14.81-20.14-14.81-34.67ZM54.24,78.66c-.22-.14-.43-.27-.64-.42,3.64-1.81,7.03-4.12,10.03-6.84,8.7-7.88,13.5-18.52,13.5-29.92,0-9.55-3.33-18.51-9.62-25.92-3.87-4.55-8.59-8.23-13.95-10.86l.61-.39c5.69,1.38,11.01,3.95,15.61,7.53,9.4,7.33,14.8,18.14,14.8,29.65,0,13.7-7.81,26.47-20.39,33.32-3.15,1.73-6.46,3-9.95,3.86ZM62.18,79.23c1.24-.52,2.46-1.12,3.63-1.76,13.58-7.39,22.02-21.19,22.02-35.98,0-12.44-5.82-24.11-15.99-32.03-2.99-2.32-6.23-4.24-9.69-5.74,18.85,3.34,33.16,19,33.16,37.76s-14.3,34.41-33.13,37.75h0Z"/>
        <g>
          <path class="cls-2" d="M297.81,46.7c-2.15-1.71-5.32-2.78-9.54-3.21l-9.93-1.17c-3.65-.41-5.46-1.96-5.46-4.66,0-1.71.77-3.05,2.3-4.05,1.53-1.01,3.82-1.5,6.85-1.5,3.2,0,5.66.58,7.36,1.75,1.72,1.17,2.72,2.76,3.03,4.81h8.22c-.31-3.55-1.98-6.43-4.99-8.62-3.03-2.18-7.54-3.27-13.56-3.27s-10.19,1.04-13.19,3.08c-3,2.06-4.51,4.76-4.51,8.14,0,2.97,1,5.3,3,7.03,2,1.72,4.9,2.79,8.72,3.18l9.94,1.11c2.2.29,3.83.86,4.93,1.72,1.1.85,1.65,2.06,1.65,3.61,0,1.86-.73,3.24-2.18,4.19-1.45.95-4.02,1.42-7.7,1.42s-6.59-.69-8.42-2.06-2.83-3.29-2.97-5.77h-8.08c.09,3.81,1.68,6.95,4.76,9.44,3.09,2.48,7.98,3.72,14.64,3.72,12.24,0,18.36-3.91,18.36-11.71,0-3.07-1.07-5.46-3.23-7.17h-.02Z"/>
          <path class="cls-2" d="M421.72,46.7c-2.15-1.71-5.33-2.78-9.54-3.21l-9.94-1.17c-3.63-.41-5.46-1.96-5.46-4.66,0-1.71.77-3.05,2.3-4.05,1.53-1.01,3.82-1.5,6.85-1.5,3.2,0,5.66.58,7.37,1.75,1.72,1.17,2.72,2.76,3.03,4.81h8.22c-.31-3.55-1.98-6.43-4.99-8.62-3.03-2.18-7.54-3.27-13.56-3.27s-10.19,1.04-13.19,3.08c-3.01,2.06-4.51,4.76-4.51,8.14,0,2.97.99,5.3,2.98,7.03,1.99,1.72,4.9,2.79,8.72,3.18l9.93,1.11c2.2.29,3.83.86,4.93,1.72,1.1.85,1.64,2.06,1.64,3.61,0,1.86-.73,3.24-2.18,4.19-1.44.95-4.02,1.42-7.7,1.42s-6.59-.69-8.42-2.06-2.83-3.29-2.95-5.77h-8.1c.09,3.81,1.68,6.95,4.78,9.44,3.09,2.48,7.98,3.72,14.64,3.72,12.23,0,18.35-3.91,18.35-11.71,0-3.07-1.07-5.46-3.21-7.17h.02Z"/>
          <path class="cls-2" d="M200.01,28.08v36.6h8.59V28.08h-8.59Z"/>
          <path class="cls-2" d="M249.27,28.09v31.11l-18.6-31.11h-14.55v36.6h8.46v-31.17l18.6,31.17h14.55V28.09h-8.46Z"/>
          <path class="cls-2" d="M304.77,27.89v7.58h15.21v28.91h8.66v-28.91h15.15v-7.58h-39.02Z"/>
          <path class="cls-2" d="M462.25,27.89v15.23h-22.39v-15.23h-8.66v36.5h8.66v-14.81h22.39v14.81h8.59V27.89h-8.59Z"/>
          <path class="cls-2" d="M149.44,60.76c-3.66,3.3-8.93,5.07-15.44,5.07-13.08,0-21.16-7.11-21.16-19.46s8.1-19.45,21.16-19.45c6.34,0,11.5,1.66,15.15,4.81l-6.09,5.75c-2.1-1.65-5.12-2.42-9.06-2.42-8.32,0-12.55,3.46-12.55,11.32s4.25,11.33,12.55,11.33c4.13,0,7.27-.86,9.37-2.69l6.09,5.75h-.02Z"/>
          <path class="cls-2" d="M369.28,27.89h-13.13l-16.23,36.51h8.66l3.59-8.54h21.04l3.59,8.54h8.72l-16.23-36.51ZM354.59,49.47l8.05-15.96,8.05,15.96h-16.11Z"/>
          <path class="cls-2" d="M173.14,26.91c-13.08,0-21.18,7.11-21.18,19.46s8.1,19.46,21.18,19.46,21.16-7.11,21.16-19.46-8.1-19.46-21.16-19.46ZM173.05,57.68c-8.32,0-12.55-3.46-12.55-11.32s4.25-11.32,12.55-11.32,12.55,3.46,12.55,11.32-4.24,11.32-12.55,11.32Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>