<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.36 63.64" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <g>
          <g>
            <path class="cls-3" d="M102.05,44.96L79.65,6.07c-4.89-8.1-16.93-8.17-21.67.36l-23.5,40.42c-4.38,7.44,1.02,16.71,9.85,16.71h47.21c8.83.07,15.47-9.56,10.51-18.61Z"/>
            <path class="cls-2" d="M69.73,48.02l-1.39-2.41c-1.31-2.26-4.16-7.08-4.16-7.08L45.21,5.56c-4.89-7.3-16.56-7.95-21.45,1.31L1.65,45.11c-4.6,8.03.88,18.46,10.8,18.53h78.8c-12.11.07-15.98-6.28-21.53-15.61Z"/>
          </g>
          <path class="cls-1" d="M69.73,47.88l-1.39-2.41c-1.31-2.26-4.16-7.08-4.16-7.08l-12.26-21.6-17.59,30.06c-4.38,7.44,1.02,16.71,9.85,16.71h47.06c-12.19-.07-15.98-6.28-21.53-15.69Z"/>
        </g>
        <g>
          <path class="cls-4" d="M188.79,62.87V1.41h51.08v3.89c0,3.08-2.47,5.55-5.55,5.55h-32.78v16.52h32.78v9.44h-32.78v16.52h32.78c3.05,0,5.55,2.47,5.55,5.55v3.89l-51.08.11h0Z"/>
          <path class="cls-4" d="M313.24,1.41h-12.02c-2.25,0-4.25.94-5.66,2.72l-14.52,18.29-14.52-18.15c-1.42-1.78-3.41-2.72-5.66-2.72h-12.02l24.43,30.67-24.43,30.67h12.02c2.25,0,4.25-.94,5.66-2.72l14.52-18.15,14.63,18.29c1.42,1.64,3.41,2.72,5.66,2.72h12.02l-24.43-30.67,24.32-30.95h0Z"/>
          <path class="cls-4" d="M148.79,56.37l16.74-29.26v35.61h12.74V1.3h-7.91c-2.47,0-4.83,1.3-6.02,3.55l-20.04,36.56L124.26,4.83c-1.19-2.25-3.55-3.55-6.02-3.55h-7.88v61.46h12.74V27.12l16.74,29.26h8.97Z"/>
          <path class="cls-4" d="M346.52,63.56c-17.68.22-32.09-13.68-32.2-31.37,0-9.69,2.94-17.71,8.49-23.23,5.55-5.44,13.57-8.38,23.12-8.38,11.21,0,20.04,3.89,26.43,11.44l-4,3.41c-2.47,2.11-6.13,2.25-8.85.25-3.55-2.72-8.02-4.02-13.1-4.02-12.49,0-19.93,7.55-19.93,20.29s7.66,20.76,19.93,20.76c5.19,0,9.55-1.42,13.1-4,2.61-2,6.25-1.89,8.85.25l4,3.41c-6.38,7.41-14.88,11.19-25.84,11.19Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>