<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg width="1206" height="431" viewBox="0 0 1206 431" fill="none" xmlns="http://www.w3.org/2000/svg" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <path d="M200.567 266.099L327 129.65L200.567 337.65L200.567 266.099Z" fill="#FFFD9D"/>
    <path d="M200.629 266.099L75 129.65L200.629 337.65L200.629 266.099Z" fill="#B6761C"/>
    <path d="M327 129.65L75.0003 129.65L200.568 266.099L327 129.65Z" fill="#FFE144"/>
    <path d="M253 155.65L149 155.65L200.822 211.65L253 155.65Z" fill="#B6761C"/>
    <path d="M200.822 150.187L252.885 94.0001L200.822 179.65L200.822 150.187Z" fill="#FFFD9D"/>
    <path d="M200.847 150.187L149.116 94L200.847 179.65L200.847 150.187Z" fill="#B6761C"/>
    <path d="M252.885 94.0001L149.116 94.0001L200.822 150.187L252.885 94.0001Z" fill="#FFE144"/>
    <path d="M553.54 295.76L433.2 160.24L433.42 292.02H422.86V132.52H423.52L543.86 269.14L543.64 135.82H553.98V295.76H553.54Z" fill="white"/>
    <path d="M647.759 135.82H744.119V146.16H658.539V208.2H735.539V218.54H658.539V281.68H747.199V292.02H647.759V135.82Z" fill="white"/>
    <path d="M816.866 292.02L868.346 211.72L819.066 135.82H832.486L876.486 203.36L918.506 135.82H931.266L882.206 212.38L934.126 292.02H920.486L874.286 220.74L830.066 292.02H816.866Z" fill="white"/>
    <path d="M999.052 292.02L1065.05 129H1065.93L1131.93 292.02H1119.83L1099.37 240.32H1030.51L1009.83 292.02H999.052ZM1034.47 230.2H1095.41L1065.27 153.42L1034.47 230.2Z" fill="white"/>
  </svg>
</template>

<style scoped>

</style>