<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.12 130.99" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <g>
          <path class="cls-1" d="M53.66,0c18.22,31.55,36.02,62.35,54.03,93.53-1.3.09-2.12.19-2.93.19-7.68,0-15.36.05-23.04-.13-1.14-.03-2.75-.89-3.31-1.85-5.99-10.2-11.8-20.51-17.69-30.78-2.2-3.84-4.49-7.62-7.02-11.91-2.57,4.44-4.92,8.48-7.26,12.53-5.92,10.23-11.82,20.48-17.81,30.67-.39.67-1.42,1.36-2.16,1.37-8.53.06-17.06-.02-25.59-.07-.15,0-.3-.18-.88-.55C17.73,62.28,35.47,31.54,53.66,0Z"/>
          <path class="cls-3" d="M28.5,94.67h50.38c-8.44,12.17-16.64,23.99-25.19,36.31-8.51-12.27-16.7-24.08-25.19-36.31Z"/>
        </g>
        <g>
          <path class="cls-2" d="M283.52,67.98c2.35-2.8,4.45-5.3,6.55-7.8,2.82-3.37,5.64-6.76,8.48-10.11.24-.28.69-.53,1.05-.53,4.86-.03,9.73-.02,14.6-.01.11,0,.23.08.58.22-.88,1.11-1.67,2.17-2.53,3.18-5.05,5.89-10.11,11.78-15.19,17.65-.57.66-.59,1.05.04,1.76,3.89,4.4,7.72,8.85,11.57,13.29,2.34,2.71,4.67,5.42,7,8.13.17.2.27.47.48.85-.54.04-.9.09-1.26.09-4.7,0-9.39-.02-14.09.02-.84,0-1.37-.26-1.9-.92-4.12-5.16-8.28-10.29-12.44-15.42-.87-1.08-1.77-2.14-2.9-3.5v19.82c-2.56,0-4.92,0-7.28,0-1.61,0-3.22-.03-4.82.01-.89.03-1.25-.31-1.13-1.19.02-.17,0-.34,0-.51,0-20.26,0-40.53,0-60.79q0-1.72,1.76-1.72c3.3,0,6.6,0,9.9,0,.45,0,.91.04,1.53.07v37.4Z"/>
          <path class="cls-2" d="M360.69,74.4c-.68,0-1.19,0-1.69,0-9.94,0-19.88,0-29.82,0-1.6,0-2.02.48-1.44,1.96,1.47,3.72,4.02,6.26,8.05,7.19,3.4.79,6.61.53,9.48-1.54.89-.64,1.61-1.66,2.1-2.65.33-.66.64-.9,1.29-.9,3.51,0,7.02.02,10.53-.01.88,0,1.12.34,1.01,1.14-.48,3.29-1.97,6.1-4.21,8.5-3.11,3.32-6.94,5.31-11.44,6.14-4.53.84-9.02.78-13.35-.69-5.8-1.97-10.22-5.73-13.16-11.16-2.27-4.2-2.88-8.73-2.59-13.42.29-4.78,2.01-8.97,5.04-12.68,3.1-3.8,6.99-6.39,11.66-7.67,3.72-1.02,7.55-1.04,11.39-.31,5.26,1,9.46,3.7,12.8,7.77,1.86,2.27,3.3,4.83,3.85,7.75.42,2.25.74,4.53.91,6.82.09,1.19-.24,2.41-.4,3.77ZM347.36,66.1c-.16-3.96-4.02-7.85-9.62-7.72-5.65.12-9.37,4.63-9.45,7.72h19.07Z"/>
          <path class="cls-2" d="M129.93,58.44c3.48,0,6.6.09,9.72-.02,3.33-.12,6.08-1.36,7.39-4.7,1.47-3.75.05-7.59-3.8-9.28-1.3-.57-2.86-.69-4.31-.72-5.07-.08-10.15-.11-15.23,0-1.91.04-3.08-.37-3.98-2.26-1.74-3.63-3.85-7.09-5.91-10.81.61-.05,1.05-.13,1.48-.13,9.01,0,18.02-.2,27.03.05,8.01.22,13.72,4.37,17.31,11.47,1.46,2.88,2.12,5.99,1.93,9.18-.43,7.07-3.18,12.88-9.58,16.51-.68.38-.48.63-.14,1.15,3.18,5.02,6.3,10.07,9.46,15.09,2.07,3.29,4.2,6.55,6.28,9.83.12.19.12.47.21.9h-1.32c-4.61,0-9.22-.03-13.83.02-.96.01-1.5-.28-1.99-1.12-4.46-7.66-8.96-15.3-13.47-22.93-2.21-3.73-4.48-7.42-6.71-11.13-.16-.26-.27-.55-.54-1.12Z"/>
          <path class="cls-2" d="M213.47,71.42c.45,13.44-10.56,23.28-23.22,23.39-12.33.11-24.24-9.73-23.62-24.78.47-11.36,10.18-22.93,24.7-22.24,11.4.55,22.57,9.8,22.15,23.63ZM200.73,71.32c.19-6.57-4.89-11.16-10.61-11.08-6.22.09-10.59,4.61-10.68,10.98-.09,6.2,4.51,10.98,10.57,11.07,5.79.09,10.97-4.69,10.73-10.97Z"/>
          <path class="cls-2" d="M263.65,76.32c.23,2.13-.45,3.93-1.19,5.66-2.19,5.13-6,8.68-11.06,10.88-3.44,1.5-7.08,2-10.84,1.84-8.41-.34-14.82-4.1-19.22-11.25-2.02-3.27-3.02-6.88-2.96-10.75.03-1.9-.08-3.83.17-5.7.46-3.43,1.78-6.58,3.78-9.42,2.81-4.01,6.53-6.92,11.12-8.52,4.33-1.5,8.83-1.65,13.34-.75,5.92,1.19,10.57,4.31,14.02,9.27,1.49,2.14,2.21,4.56,2.84,7.03.23.9-.05,1.42-1.14,1.4-3.64-.04-7.27.02-10.91-.06-.49-.01-1.19-.47-1.41-.91-1.34-2.68-3.57-3.96-6.41-4.56-5.68-1.21-10.33,2.11-11.92,6.3-2.03,5.38-.53,12.22,6.05,14.77,3.96,1.54,8.84.37,11.22-2.59.23-.29.61-.54.67-.85.37-1.84,1.66-1.88,3.17-1.84,3.09.08,6.17.02,9.26.02.45,0,.9,0,1.41,0Z"/>
          <path class="cls-2" d="M371.85,43.6v-13.37c.61,0,1.06,0,1.52,0,3.09,0,6.18,0,9.26,0q2.37,0,2.37,2.3c0,3.3.04,6.6-.02,9.9-.02,1.03.36,1.34,1.32,1.3,1.14-.05,2.28,0,3.43-.02.74,0,1.15.18,1.46,1.02,1.37,3.69,2.88,7.33,4.32,10.99.13.34.16.71.28,1.25h-10.71c-.03.59-.07,1.04-.07,1.48,0,5.71.1,11.42-.04,17.13-.09,3.66,2.33,6.12,5.28,6.44,1.77.19,3.55.27,5.47.41v11.53c-8.08,2.05-16.03.29-20.5-6.01-1.49-2.11-2.47-4.45-2.88-7.02-1.02-6.43-.24-12.89-.48-19.34-.05-1.47,0-2.94,0-4.56-2.4,0-4.67-.05-6.94.02-.99.03-1.33-.28-1.32-1.28.04-3.64.04-7.28,0-10.91,0-.9.31-1.18,1.18-1.16,1.86.05,3.72.02,5.58,0,.45,0,.91-.06,1.51-.11Z"/>
          <path class="cls-2" d="M400.24,30.17c5.1,0,10.05-.02,14.99.03.39,0,.92.37,1.15.72,5.67,8.45,11.29,16.93,16.95,25.38,1.22,1.83,2.55,3.59,3.83,5.38.49.69.26,1.26-.19,1.91-2.78,4-5.51,8.04-8.28,12.06-4.2,6.1-8.42,12.2-12.65,18.28-.23.33-.67.73-1.02.74-4.9.04-9.81,0-14.72-.01-.11,0-.21-.1-.41-.19,2.04-3.01,4.05-5.98,6.08-8.95,5.07-7.4,10.14-14.81,15.25-22.18.47-.67.38-1.04-.02-1.64-3.98-5.91-7.93-11.85-11.91-17.76-2.95-4.38-5.94-8.74-8.91-13.11-.08-.12-.08-.31-.15-.65Z"/>
          <path class="cls-2" d="M432.86,78.09c2.48-3.58,5-7.17,7.46-10.79.51-.75.68-.72,1.18.02,5.48,8.01,11.01,15.98,16.51,23.98.71,1.03,1.35,2.11,2.11,3.3-.48.04-.88.11-1.28.11-4.61,0-9.22,0-13.82.02-.83,0-1.32-.23-1.82-.99-3.22-4.87-6.52-9.67-9.78-14.51-.23-.33-.35-.73-.55-1.14Z"/>
          <path class="cls-2" d="M459.74,30.45c-6.28,9.27-12.55,18.54-18.99,28.06-2.81-4.12-5.41-7.92-8-11.71,3.59-5.38,7.11-10.68,10.66-15.96.2-.29.61-.63.92-.63,5.03-.03,10.05,0,15.08.01.06,0,.13.08.34.23Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>