<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.92 110.43" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <g>
          <path class="cls-1" d="M.06.28c.19.56,31.82,40.43,32.01,40.37.56-.19,7.34-8.8,7.12-9.08-.12-.19-3.61-4.67-7.71-9.98-4.14-5.35-7.53-9.8-7.53-9.89s3.2-.19,7.15-.19h7.12l6.69,8.3,6.69,8.34-1.03,1.24C45.97,35.02,0,92.72,0,92.84c0,.09,9.92.16,22.02.16h22.02l5.1-6.35c2.8-3.45,5.04-6.44,5.01-6.59-.12-.37-7-8.8-7.18-8.8-.09,0-2.08,2.3-4.45,5.13l-4.29,5.1h-7.15c-4.39,0-7.12-.12-7.06-.28.06-.19,9.11-11.69,20.16-25.57,11.04-13.9,20.44-25.82,20.93-26.44l.84-1.15-10.95-14.03L44.01,0h-22.02C9.18,0,0,.12.06.28Z"/>
          <path class="cls-2" d="M68.46,6.28c-2.8,3.48-5.07,6.44-5.07,6.56.03.31,7,8.9,7.22,8.9.09,0,2.08-2.3,4.45-5.13l4.29-5.1h7.15c4.42,0,7.12.12,7.06.31-.03.16-9.46,12.19-20.93,26.75-11.45,14.56-20.84,26.59-20.84,26.75,0,.12,4.88,6.41,10.89,13.97l10.89,13.72h22.02c12.81,0,21.99-.12,21.93-.28-.19-.56-31.82-40.43-32.01-40.37-.56.19-7.34,8.8-7.12,9.08.12.16,3.61,4.67,7.71,9.98,4.14,5.35,7.53,9.8,7.53,9.89s-3.2.19-7.12.19h-7.15l-6.53-7.93c-3.61-4.35-6.56-8.09-6.56-8.27,0-.16,11.54-14.87,25.66-32.63C106.03,14.87,117.57.25,117.57.16s-9.92-.16-22.02-.16h-22.02l-5.07,6.28Z"/>
        </g>
        <g>
          <path class="cls-3" d="M147.99,10.32l12.06,22.45,12.37-22.45c1.04-1.98,2.91-2.71,4.68-2.71,3.02,0,6.03,2.19,6.03,5.72,0,.93-.21,2.08-.83,3.12l-15.7,27.65,17.88,31.19c.63,1.04.73,2.08.73,3.12,0,3.43-3.12,5.93-6.13,5.93-1.87,0-3.84-.93-5.09-3.22l-13.93-25.68-13.93,25.68c-1.25,2.29-3.02,3.22-5.1,3.22-3.01,0-6.13-2.5-6.13-5.93,0-1.04.21-1.98.83-3.12l17.67-30.88-15.6-27.96c-.52-.94-.83-1.98-.83-2.91,0-3.64,2.91-5.93,6.03-5.93,1.77,0,3.85.73,4.99,2.71Z"/>
          <path class="cls-3" d="M249.03,53.88c0,4.05-2.18,6.13-5.93,6.13h-42.21c1.46,7.8,9.46,13.62,17.57,13.62,5.09,0,9.46-1.87,12.79-5.2,1.35-1.25,3.12-2.08,4.68-2.08,3.12,0,5.61,2.7,5.61,5.93,0,1.66-.31,3.22-1.56,4.47-5.41,5.93-13,8.84-21.52,8.84-16.84,0-30.56-13.62-30.56-30.46s13.72-30.67,30.56-30.67,30.56,13.62,30.56,29.42ZM201,50.14h34.93c-1.46-7.8-9.46-13.72-17.46-13.72s-15.8,6.03-17.46,13.72Z"/>
          <path class="cls-3" d="M303.81,32.57c.31-4.57,2.08-6.75,6.45-6.75,2.91,0,5.09,2.08,5.09,5.2v48.96c0,15.18-8.94,30.46-30.56,30.46-4.26,0-6.44-2.28-6.44-6.03s2.28-6.03,6.03-6.03c14.55,0,18.82-9.04,18.82-20.17-3.54,4.68-9.46,7.38-17.57,7.38-15.9,0-30.56-13.72-30.56-30.56s14.66-30.56,30.56-30.56c7.38,0,14.45,3.95,18.19,8.11ZM303.29,55.02c0-10.29-7.59-18.61-17.67-18.61s-18.61,8.32-18.61,18.61,8.21,18.61,18.61,18.61,17.67-8.32,17.67-18.61Z"/>
          <path class="cls-3" d="M372.11,32.57c.31-4.57,2.08-6.75,6.44-6.75,2.91,0,5.1,2.08,5.1,5.2v48.96c0,15.18-8.94,30.46-30.56,30.46-4.26,0-6.45-2.28-6.45-6.03s2.29-6.03,6.03-6.03c14.55,0,18.81-9.04,18.81-20.17-3.53,4.68-9.46,7.38-17.57,7.38-15.9,0-30.56-13.72-30.56-30.56s14.66-30.56,30.56-30.56c7.39,0,14.45,3.95,18.2,8.11ZM371.59,55.02c0-10.29-7.59-18.61-17.68-18.61s-18.61,8.32-18.61,18.61,8.21,18.61,18.61,18.61,17.68-8.32,17.68-18.61Z"/>
          <path class="cls-3" d="M452.78,53.88c0,4.05-2.18,6.13-5.93,6.13h-42.21c1.46,7.8,9.46,13.62,17.57,13.62,5.09,0,9.46-1.87,12.79-5.2,1.35-1.25,3.12-2.08,4.68-2.08,3.12,0,5.61,2.7,5.61,5.93,0,1.66-.31,3.22-1.56,4.47-5.41,5.93-13,8.84-21.52,8.84-16.84,0-30.56-13.62-30.56-30.46s13.72-30.67,30.56-30.67,30.56,13.62,30.56,29.42ZM404.75,50.14h34.93c-1.46-7.8-9.46-13.72-17.46-13.72s-15.8,6.03-17.46,13.72Z"/>
          <path class="cls-3" d="M466.7,10.32l12.06,22.45,12.37-22.45c1.04-1.98,2.91-2.71,4.68-2.71,3.02,0,6.03,2.19,6.03,5.72,0,.93-.21,2.08-.83,3.12l-15.7,27.65,17.88,31.19c.63,1.04.73,2.08.73,3.12,0,3.43-3.12,5.93-6.13,5.93-1.87,0-3.84-.93-5.09-3.22l-13.93-25.68-13.93,25.68c-1.25,2.29-3.02,3.22-5.1,3.22-3.01,0-6.13-2.5-6.13-5.93,0-1.04.21-1.98.83-3.12l17.67-30.88-15.6-27.96c-.52-.94-.83-1.98-.83-2.91,0-3.64,2.91-5.93,6.03-5.93,1.77,0,3.85.73,4.99,2.71Z"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>