<script>
import { computed } from 'vue'

export default {
  name: 'Constraint',
  props: {
    size: {
      type: String,
      default: 'md', // Default size is 'md'
      validator: (value) => ['xl', 'lg', 'md', 'sm', 'xs'].includes(value)
    }
  },
  setup(props) {
    // Compute the class based on the size prop
    const sizeClass = computed(() => {
      return `size-${props.size}`
    });

    return { sizeClass }
  }
}
</script>

<template>
  <div :class="['constraint', sizeClass]">
    <slot></slot>
  </div>
</template>


